{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_about">
  <div class="container">

    <div class="header">
      <div class="box"> 
        <h1 style="font-size:55px;"><span class="text-logo"> About us</span></h1>
        <p style="text-align:left;">
          Our team of economists is currently working on an app that can calculate the amount of carbon emissions you produce. It is crucial to reduce greenhouse gas emissions from transportation by transitioning to modes of transport with lower emissions, such as public transport, cycling, and walking. Hence, we have started developing the carbon emission app to facilitate this transition.
        </p>
        <p>Estimated launch date: April</p>
          </div>
        </div>
        <div class="box">
          <img 
            src="{{url_for('static', filename='icons/about_us.svg')}}"
            width="325" 
            height="325"
            alt=""/>
        </div>
  </div>

</section>

  <!-- Developers -->
  <section class="section_developers">

      <div class="developers">
          <div class="box">
            <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160711399/c3fbca2d-0310-467e-9c3e-1bd2af305397" alt="" class="developer-photo">
            <h3>Edvard Nordstrand Tødenes</h3>
            <p> 
            </p>
            <div class="section_container_buttons_developers">
              <a class="btn_developers" href="https://www.facebook.com/profile.php?id=100002934759394"  target="_blank">Facebook</a>
            </div> 
          </div>
          <div class="box">
            <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/8f5fae7a-3401-4eaf-8c3d-41926e78625f" alt="" class="developer-photo">
            <h3>Ola Børve</h3>
            <p>
            </p>
            <div class="section_container_buttons_developers">
              <a class="btn_developers" href="https://www.facebook.com/olaborve"  target="_blank">Facebook</a>
            </div> 
          </div>
      </div>
      
      <div class="developers">
          <div class="box2">
           <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/21c45135-d296-49ca-b9a9-4a44f95a26d5" alt="" class="developer-photo">
            <h3>Benjamin Lien Larsen</h3>
            <p> 
            </p>
            <div class="section_container_buttons_developers">
              <a class="btn_developers" href="https://www.facebook.com/profile.php?id=100010429727707&sk=about"  target="_blank">Facebook</a>
            </div> 
          </div>           
          <div class="box2">
            <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/c2ff9ce9-1c71-4472-8295-6fed3f3fa65e" alt="" class="developer-photo">
            <h3>Martin Trengereid</h3>
            <p> 
            </p>
            <div class="section_container_buttons_developers">
              <a class="btn_developers" href="https://www.facebook.com/martin.trengereid"  target="_blank">Facebook</a>
            </div> 
          </div>     
      </div>     

      <div class="developers">
        <div class="box3">
          <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/44082e30-6fbb-4a30-9cfb-335b9e80bb44" alt="" class="developer-photo">
          <h3>Erik Berentsen</h3>
          <p> 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.facebook.com/profile.php?id=100010249211502"  target="_blank">Facebook</a>
          </div> 
        </div>
        <div class="box3">
          <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/076c1f05-5053-49a7-901e-2ae029d015fc" alt="" class="developer-photo">
          <h3>Tomas Chernov</h3>
          <p> 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.facebook.com/tomas.chernov.9/friends"  target="_blank">Facebook</a>
          </div> 
        </div>           
        <div class="box3">
          <img src="https://github.com/edvardnt/carbon_app_2024_AWS/assets/160719390/86c07a8c-3609-42d9-a8a3-910304b2bba4" alt="" class="developer-photo">
          <h3>Tobias Ytterdahl Bergland</h3>
          <p> 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.facebook.com/tobias.bergland"  target="_blank">Facebook</a>
          </div> 
        </div>     
      </div>
    </div>     
  </div>          
  </section>

  <section class="section_footer">
    <div class="container">
      <div class="footer">
        <h1> 
          <a href="#">
            <i class="fa-solid fa-circle-up" style="color:#2a4359"> Back to top</i>
          </a>
        </h1>
      </div>
    </div>
  </section>

  {% endblock content %}
